@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

:root {
  font-family: var(--font-primary, "Poppins"), sans-serif;
  color-scheme: light;
  --color-primary: #2563eb;
  /* default blue-600 */
}

html {
  scroll-behavior: smooth;
}